.bloc1 {
background-color:black;
text-decoration: underline;

margin-bottom: 2px;
padding: 2px;
}


li{
    color: white;
    display: inline;
 }
 .logo{ 
    display: flex;
 }
 .grandtitre{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;

}
.colonnedroite{
    width: 300px;
    height: 400px;
    padding: 1em 1em 1em 1em;
    background-color: rgb(185, 185, 185);
    order: 1;
}   
.corps{
    display: flex;
}
.text{
    flex-direction: column;
}

 .bloc2{
    background-color: black; 
    text-decoration: underline;
    margin-bottom: 2px;
    padding: 2px;
    }

        @media screen and (max-width: 768px)
        {
    .lien {
            display:flex;
            flex-direction:column;
            }
    .colonnedroite{
          display: none;
        }    
    body{
        font-size: 1.2rem;
    }    
    }